body{
    background:radial-gradient(#ffffff,#e8e9d6);
}

h2{
    color: white;
    text-align: center;
}

.formulairecard{
    display: flex;
    gap: 20px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background:radial-gradient(#53b8ca,#024950);
    border-radius: 10px;
    padding: 10px;
}

legend{
    background-color: #003135;
    /* background:linear-gradient(to right, #34737e 0%,#003135 50%); */
    border-radius: 10px;
    color: white;
    font-size: 20px;
    padding: 5px;
}
fieldset{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-evenly;
    padding: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 2px 5px black;
    background-color: rgb(255, 255, 255);
}


.sectionradio{
    display: flex;
    margin: 10px 0;
    justify-content: space-around;
}

p{
    margin: 10px 0;
}

.boutonradio{
    display: flex;
    align-items: center;
}

.boutons{
    align-self: center;
    
}

button{
    background:radial-gradient(#9e7b71,#964734);
    border-radius: 10px;
    color: white;
    padding: 5px 10px;
    border: none;
    box-shadow: black 2px 2px 5px;
    margin: 0 10px;
}

button:hover{
    transform: translateY(-5px);
    cursor: pointer;
}

@media screen and (max-width:768px){
    .formulairecard{
        flex-direction: column;
    }
}